{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="{{ products.image.url }}" alt="{{ products.title }}">
            </div>
        </div>
        <div class="col-md-6">
            <div>
                {{ products.title }}
            </div>
            <div>
                {{ products.price }}
            </div>
            <div>
                {{ products.description }}
            </div>
        </div>
    </div>
{% endblock %}