/* colors */

@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
  al:   #00000000;
  bg:   @background;
  bga:  #38444AFF;
  fga:  #FDF6E3FF;
  fg:   @foreground;
  ac:   #EDB83FFF;
  se:   #EDB83F40;
}
