/* colors */

@import "/home/thos/.cache/wal/colors-rofi-dark.rasi"

* {
  al:   #00000000;
  bg:   @background;
  bga:  #38444AFF;
  fga:  #FDF6E3FF;
  fg:   #FFFFFFFF;
  ac:   @selected-normal-background;
  se:   #AC847640;
}
