/* colors */

@import "/home/thos/.cache/wal/colors-rofi-dark.rasi"

* {
  al:   #00000000;
  bg:   @background;
  bga:  @background;
  fga:  #FDF6E3FF;
  fg:   #FFFFFFFF;
  ac:   #00C7DFFF;
  se:   #00C7DF40;
}
