/* colors */

@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
  al:   #00000000;
  bg:   @background;
  bga:  @background;
  fga:  @foreground;
  fg:   @foreground;
  ac:   @selected-normal-background;
  se:   #6D889540;
}
