<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma boutique</title>
</head>
<body>
    <a href="{% url 'index' %}">
        <h1>Ma boutique</h1>
    </a>

    {% if  user.is_authenticated %}
        {{ user.username }}
        <a href="{% url 'logout' %}">Déconnexion</a>
    {% else %}
        <a href="{% url 'login' %}">Connexion</a>
        <a href="{% url 'signup' %}">S'inscrire</a>
    {% endif %}

    {% if user.cart %}
        <p>
            <a href="{% url 'cart' %}">Voir le panier ({{ user.cart.orders.count }})</a>
        </p>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>