html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* CSS variables */ 
:root{
    --primary-color: #81A1C1;
    --primary-color2: #88C0D0;
    --title-color: #2E3440;
    --text-color: #4C566A;  
    --border-color: #3B4252;  
    --gradient-color: linear-gradient(90deg, #81A1C1 0%, #88C0D0 100%);
    --shadow-color:  0px 10px 30px rgba(53, 75, 81, 0.3);
    --box-shadow: 0px 10px 30px rgba(0, 0, 1, 0.205);
   

    /* Font family variables. */ 
    --roboto: 'Roboto', cursive;
} 