/* Color-Scheme */

@import "/home/birkhoff/.cache/wal/colors-rofi-dark.rasi"

* {
BG:    @background;
BGA:   @foreground;
FG:    @foreground;
BDR:   @foreground;
SEL:   @active-background;
UGT:   #CB3F21ff;
IMG:   @background;
ON:    #1F6E42ff;
OFF:   #CB3F21ff;
}
