{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}My shop{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'store/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
        <script src="{% static 'store/js/popper.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'store/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand">BookStore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"></button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item active">
                                <a href="/" class="nav-link" aria-current="page">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="nvbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Library</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a href="{% url 'store:all_products' %}" class="dropdown-item">All</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content">{% block content %} {% endblock %}</div>
    </body>
</html>