{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}My shop{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'store/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
        <script src="{% static 'store/js/popper.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'store/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">

            </nav>
        </header>
        <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <p class="h5 my-0 me-md-auto fw-normal">Company name</p>
            <nav class="my-2 my-md-0 me-md-3">
                <a href="#" class="p-2 text-dark">1</a>
                <a href="#" class="p-2 text-dark">3</a>
                <a href="#" class="p-2 text-dark">2</a>
                <a href="#" class="p-2 text-dark">4</a>
            </nav>
            <a href="#" class="btn btn-outline-primary">Sign up</a>
        </header>
        <div class="content">{% block content %} {% endblock %}</div>
    </body>
</html>