frame * {
    border-color: white;
}

label#userlbl {
    font-size: 14px;
    color: #fff;
}
label#lbl {
    font-size: 14px;
    color: #aabcda;
}
button {
    border-color: #282828;
    border-radius: 2px;
    background-color: #1d2025;
}

button:hover {
    border-color: #2d3d57;
    background-color: #2d3d57;
}