header {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background: #3b5998 no-repeat 50px 25px;
    border-bottom: 1px solid #133783;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: #000333;
}

body#welcomePage header {
    background: #3b5988 url('../img/logo.png') no-repeat 20px 25px;
    color: #fff;
}

body#welcomePage header p#name {
    font-size: 22px;
    margin: 20px 0 0 70px;
}

body#welcomePage header p#function {
    margin: 0 0 0 70px;
}

body#welcomePage header p#profileLinks {
    position: absolute;
    right: 40px;
    top: 25px;
}

a.buttonLink {
    border-style: solid;
    border-width: 1px;
    border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
    background-color: #3b5988;
    color: #fff;
    padding: 2px 15px 3px 15px;
    text-align: center;
    text-decoration: none;
}

body section#content {
    position: absolute;
    top: 110px;
    left: 50%;
    width: 500px;
    margin: 0 0 0 -250px;
    padding: 0;
}

body#welcomePage section#content {
    width: 800px;
    margin: 0 0 0 -400px;
}

body#welcomePage section#messageList {
    position: absolute;
    width: 600px;
}

body#welcomePage section#friendList {
    position: absolute;
    width: 200px;
    right: 0;
    background-color: yellow;
}

form.inlineForm label {
    display: inline;
    float: none;
    padding: 0;
}

form.inlineForm input[type='text'] {
    display: inline-block;
    width: 150px;
}

form.inlineForm input[type='submit'] {
    margin: 0;
}

body#loginPage section#content {
    top: 150px
}

h1 {
    text-align: center;
    font-size: 22px;
    margin: 0px 60px 30px 60px;
    padding: 0 0 5px 0;
    color: #3b5988;
    border-bottom: 1px solid #3b5988;
}

form label {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    padding: 4px 10px 0 0;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
    display: block;
    width: 250px;
    padding: 2px;
}

form input[type="submit"] {
    margin: 0 20px 0 160px;
    border-style: solid;
    border-width: 1px;
    border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
    background-color: #3b5998;
    color: #ffffff;
    padding: 2px 15px 3px 15px;
    text-align: center;
}

a {
    color: #3b5998;
}

form p.error {
    margin-left: 160px;
    color: #d23d24;
}

ul.errorlist {
    margin-left: 160px;
    padding: 0;
    list-style-type: none;
    color: #d23d24;
}