{% extends 'base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}
<div class="container">

    <!--Title-->
    <div class="row">
        <div class="offset-md-2 col-lg-9">
            <div class="page-header">
                <h1>
                    Todo List
                </h1>
            </div>
        </div>
    </div>

   <!--Add-->
   <div class="row">
    <div class="offset-md-2 col-lg-9">
        <form action="{% url 'todos:add' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6">
                    <input type="text" class="form-control" name="title" placeholder="Todo" required>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-outline-primary" name="submit">
                        Ajouter
                    </button>
                </div>
            </div>
        </form>
    </div>
   </div> 
   <hr>

   <!--List-->
   <div class="row">
    <div class="offset-md-2 col-lg-6">
        <div class="list-group">
            {% for todo in todos %}
            <div class="list-group-item {% if todo.is_completed %} todo-complete {% endif %}">
                <form style="display: inline;" method="post" action="{% url 'todos:update' todo.id %}">
                    {% csrf_token %}
                    <input type="checkbox" name="is_completed" onchange="this.form.submit()" {% if todo.is_completed %} checked {% endif %} 
                        class="todo-status-checkbox"
                        title="{% if not todo.is_completed %} mark as done {% else %} mark undone {% endif %}">
                </form>
                {{ todo.title }}
                <a href="#" title="Delete">
                    <button class="btn btn-outline-danger"></button>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
   </div>
</div>
{% endblock %}