{% extends 'base.html' %}

{% block content %}
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">
            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <img src="{{ product.thumbnail.url }}" class="img-fluid" alt="{{ product.name }}">
                </div>

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div class="mb-3">
                            <a href="">
                                <span class="badge purple mr-1">Catégorie</span>
                            </a>
                        </div>
                        <p class="lead">
                            {{ product.price }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <h2>{{ product.name }}</h2>
    <h3>€ {{ product.price }}</h3>
    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 250px;">
    <p>{{ product.description }}</p>
    <p>{{ product.stock }} en stock</p>

    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'add-to-cart' product.slug %}">
            Ajouter dans le panier
        </a>
    </p>
    {% endif %}

{% endblock %}