{% extends 'base.html' %}

{% block content %}
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">
            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <img src="{{ product.thumbnail.url }}" class="img-fluid" alt="{{ product.name }}">
                </div>

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <div class="p-4">

                        <div class="mb-3">
                            <a href="">
                                <span class="badge purple mr-1">Catégorie</span>
                            </a>
                        </div>

                        <p class="lead">
                            <span class="mr-1">
                                <del>${{ product.price }}</del>
                            </span>
                            <span class="mr-1">
                                <span>${{ product.price }}</span>
                            </span>
                        </p>

                        <p class="lead font-weight-bold">Description</p>
                        <p>{{ product.description }}</p>
                        <p>{{ product.stock }} en stock</p>
                        
                        {% if user.is_authenticated %}
                        <a href="{% url 'add-to-cart' product.slug %}" class="btn btn-primary btn-md my-0 p">
                            Ajouter au panier
                            <i class="fas fa-shopping-cart ml-1"></i>
                          </a>
                          <a href="#" class="btn btn-danger btn-md my-0 p">
                            Supprimer du panier
                        </a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </main>

    <h2>{{ product.name }}</h2>
    <h3>€ {{ product.price }}</h3>
    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 250px;">
    <p>{{ product.description }}</p>
    <p>{{ product.stock }} en stock</p>

    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'add-to-cart' product.slug %}">
            Ajouter dans le panier
        </a>
    </p>
    {% endif %}

{% endblock %}