@import "/home/birkhoff/.cache/wal/colors-rofi-dark.rasi"

* {
    bg-col:  @background;
    bg-col-light: @background;
    border-col: @background;
    selected-col: @background;
    blue: @active-background;
    fg-col: #D9E0EE;
    fg-col2: #F28FAD;
    grey: #D9E0EE;
    width: 600;
}

