@import "/home/birkhoff/.cache/wal/colors-rofi-dark.rasi"

* {
    bg-col:  @background;
    bg-col-light: @background;
    border-col: @background;
    selected-col: @background;
    blue: @active-background;
    fg-col: @foreground;
    fg-col2: #F28FAD;
    grey: @foreground;
    width: 750;
}

