{% extends 'base.html' %}
{% block title %}Accueil{% endblock %}
{% block bodyId %}welcomePage{% endblock %}

{% block headerContent %}
<p id="name">{{ logged_user.first_name }} {{ logged_user.last_name }}</p>
<p id="function">
    {% if logged_user.person_type == 'student' %}
    Étudiant en
        {% if logged_user.year == 1 %}
            {{ logged_user.year }}ère
        {% else %}
            {{ logged_user.year }}ème
        {% endif %}
        {{ logged_user.cursus.title }}
    {% else %}
        {{ logged_user.job.title|capfirst }}
        dans la faculté {{ logged_user.faculty }}
    {% endif %}
</p>
<p id="profileLinks">
    <a href="???" class="buttonLink">Voir le profil</a>
    <a href="???" class="buttonLink">Modifier le profil</a>
</p>
{% endblock %}

{% block content %}
<section id="messageList">
    <form action="index" method="get" class="inlineForm">
        <label for="newMessageInput">Publier un message: </label>
        <input type="text" name="nexMessage" id="newMessageInput">
        <input type="submit" value="Publier">
    </form>
    <ul>
        {% for message in friendMessages %}
        <li>
            <p>
                <a href="???">{{ message.author.first_name }} {{ message.author.last_name }}</a> dit :
            </p>
            <p>{{ message.content }}</p>
        </li>
    </ul>
</section>
<section id="friendList">
    test
</section>
{% endblock %}