{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container">
        
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

            <!--Navbar brand-->
            <span class="navbar-brand">Categories:</span>

            <!--Collapse button-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!--Collapsible content-->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!--Links-->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">All
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">T-Shirt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sport</a>
                    </li>
                </ul>

                <form class="form-inline">
                    <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Search">
                    </div>
                </form>
            </div>

        </nav>

        
    </div>
</main>

<!-- {% for product in products %}
    <h2>{{ product.name }}</h2>
    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 250px;">
    <a href="{{ product.get_absolute_url }}">Voir l'article</a>
{% endfor %} -->

{% endblock %}