{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Etudiants</title>
    <link rel="stylesheet" href="{% static 'student/css/bootstrap.min.css' %}'">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Gestion des Etudiants</h2>
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'student/js/jquery.min.js' %}"></script>
    <script src="{% static 'student/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'student/js/popper.min.js' %}"></script>
</body>
</html>