{% extends 'base.html' %}
{% block title %}Création d'un profil{% endblock %}
{% block bodyId %}userProfilePage{% endblock %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function(){
        $("input#id_st-email").focusout(checkEmailField);
    })

    function checkEmailField() {
        fieldValue = $("input#id_st-eamil").val();
        $.ajax({
            url: 'ajax/checkEmailField',
            data: ({value: $fieldValue}),
            type: 'GET',
            success: function($data, $textStatus, $XMLHttpRequest) {
                if ($data != '') {
                    $("input#id_st-email").parent().prev('.errorlist').remove();
                    $("input#id_st-email").parent().before($data);
                }
            }
        })
    }
</script>

<h1>Création d'un compte</h1>
<form>
    <p>
        <label for="profileType">Vous êtes :</label>
        <select id="profileType">
            <option value="student" {% if studentForm.is_bound %} selected="selected" {% endif %}>Etudiant</option>
            <option value="employee" {% if employeeForm.is_bound %} selected="selected" {% endif %}>Employé</option>
        </select>
    </p>
</form>

<form action="register" method="get" id="studentForm">
    {{ studentForm.as_p }}
    <p>
        <input type="hidden" name="profileType" value="student">
        <input type="submit" value="Créer un compte">
    </p>
</form>

<form action="register" method="get" id="employeeForm">
    {{ employeeForm.as_p }}
    <p>
        <input type="hidden" name="profileType" value="employee">
        <input type="submit" value="Créer un compte">
    </p>
</form>
<script type="text/javascript">
    function displayRightForm() {
        if ($('#profileType').val() == 'student') {
            $('#employeeForm').hide();
            $('#studentForm').show();
        } else {
            $('#employeeForm').show();
            $('#studentForm').hide();
        }
    }
    $(document).ready(displayRightForm);
    $('#profileType').change(displayRightForm);
</script>
{% endblock %}