{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>

    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>
<body>

    <h1>TodoList</h1>

    <div>
        {% for collection in collections %}
            <h2>{{ collection.name }}</h2>
        {% endfor %}
    </div>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="collection-name">
        <button hx-post="{% url 'add-collection' %}"
            type="submit">Ajouter</button>
    </form>

</body>
</html>