{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>

    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>
<body>

    <h1>TodoList</h1>

    <div id="collections">
        {% for collection in collections %}
            <h2>{{ collection.name }}</h2>
        {% endfor %}
    </div>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="collection-name"> 
        <button
            hx-post="{% url 'add-collection' %}"
            hx-target="#collections"
            hx-swap="beforeend"
            type="submit">Ajouter</button>
    </form>

    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="task-name" id="">
        <button type="submit">
            Ajouter
        </button>
    </form>

    <script>
        document.body.addEventListener("htmx:responseError", function(e) {
            alert(e.detail.xhr.responseText);
        })
    </script>
</body>
</html>