[user]
indicatorStyle=0
indicatorOrientation=0
forceIconSize=true
keyAloneActive=false
showWindowsListIfSingle=false
onlyDisplayVisible=true
onlyDisplayScreen=false
iconSize=16
keyComboActive=false
pinned=
indicatorColor=rgb(53,132,228)
