favorites=xfce4-web-browser.desktop,xfce4-mail-reader.desktop,xfce4-file-manager.desktop,xfce4-terminal-emulator.desktop
recent=xfce4-screensaver-preferences.desktop,xfce-ui-settings.desktop,qwinff.desktop,virtualbox.desktop,xfce4-appfinder.desktop,xfce4-terminal.desktop,xfce-wm-settings.desktop,gsmartcontrol.desktop,xfce4-taskmanager.desktop,xfce-backdrop-settings.desktop
button-icon=applications-all
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
launcher-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=1
sort-categories=true
view-mode=0
default-category=1
recent-items-max=10
favorites-in-recent=true
position-search-alternate=true
position-commands-alternate=false
position-categories-alternate=true
position-categories-horizontal=true
stay-on-focus-out=false
profile-shape=0
confirm-session-command=true
menu-width=581
menu-height=529
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=false
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=false
command-logoutuser=xfce4-session-logout --logout --fast
show-command-logoutuser=true
command-restart=xfce4-session-logout --reboot --fast
show-command-restart=true
command-shutdown=xfce4-session-logout --halt --fast
show-command-shutdown=true
command-suspend=xfce4-session-logout --suspend
show-command-suspend=true
command-hibernate=xfce4-session-logout --hibernate
show-command-hibernate=true
command-logout=xfce4-session-logout
show-command-logout=false
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=6

[action0]
name=Pages de manuel
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Rechercher sur le Web
pattern=?
command=exo-open --launch WebBrowser https://duckduckgo.com/?q=%u
regex=false

[action2]
name=Recherche de fichiers
pattern=-
command=catfish --path=~ --start %s
regex=false

[action3]
name=Wikipédia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action4]
name=Exécuter dans un terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action5]
name=Ouvrir l’emplacement
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

