[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/Créer une affiche avec PowerPoint 1 L'arrière plan.mp4]
row=4
col=22

[/home/birkhoff/Bureau/pomotroid-0.13.0-linux.AppImage]
row=3
col=22

[/home/birkhoff/Bureau/Faire une Pub sur PowerPoint - Presentation ScreenBar BenQ.mp4]
row=5
col=22

[6C90E46090E431EE]
row=2
col=22

[Corbeille]
row=0
col=22

[/home/birkhoff]
row=1
col=22

