[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/Cegep]
row=8
col=18

[/home/birkhoff/Bureau/Code Source]
row=3
col=18

[/home/birkhoff/Bureau/CTF [Fr]]
row=4
col=18

[/home/birkhoff/Bureau/Nouveau dossier]
row=2
col=18

[/home/birkhoff/Bureau/WEBHACK [Fr]]
row=5
col=18

[1012CB5112CB3B0C]
row=1
col=18

[/home/birkhoff]
row=0
col=18

