[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/CERES]
row=2
col=22

[/home/birkhoff/Bureau/Nouveau dossier]
row=3
col=22

[206AAB4A6AAB1C12]
row=1
col=22

[Corbeille]
row=9
col=22

[/home/birkhoff]
row=0
col=1

