[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[LLD L21]
row=0
col=3

[E04ACDDD4ACDB098]
row=0
col=2

[2017-10-27-17-02-10-00]
row=0
col=4

[Corbeille]
row=0
col=0

[/home/thos]
row=0
col=1

