[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/Jeff]
row=4
col=0

[/home/birkhoff/Bureau/Music Jeff]
row=5
col=0

[1012CB5112CB3B0C]
row=0
col=18

[Corbeille]
row=1
col=0

[/home/birkhoff]
row=3
col=0

