[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/gtk]
row=1
col=5

[/home/birkhoff/Bureau/SAMBATRA]
row=0
col=3

[43BD21B81740DDBF]
row=0
col=2

[Corbeille]
row=0
col=0

[/home/birkhoff]
row=0
col=1

