[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/Exo]
row=3
col=0

[/home/birkhoff/Bureau/birkhoff.xspf]
row=4
col=0

[43BD21B81740DDBF]
row=2
col=0

[Corbeille]
row=0
col=0

[/home/birkhoff]
row=1
col=0

