[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[LLD L21]
row=3
col=0

[E04ACDDD4ACDB098]
row=2
col=0

[2017-10-27-17-02-10-00]
row=4
col=0

[Corbeille]
row=0
col=0

[/home/thos]
row=1
col=0

