[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/kastali-master.zip]
row=5
col=0

[/home/birkhoff/Bureau/dotfiles-master.zip]
row=3
col=0

[/home/birkhoff/Bureau/TeamViewer QuickSupport_v15.11.150_apkpure.com.apk]
row=4
col=0

[/home/birkhoff/Bureau/dotfiles-master]
row=7
col=0

[/home/birkhoff/Bureau/Hommage]
row=6
col=0

[6C90E46090E431EE]
row=2
col=0

[Corbeille]
row=0
col=0

[/home/birkhoff]
row=1
col=0

