[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/Analyse]
row=2
col=0

[/home/birkhoff/Bureau/Nos étoiles contraires.mp4]
row=1
col=10

[/home/birkhoff/Bureau/La Ligne verte.mp4]
row=1
col=11

[206AAB4A6AAB1C12]
row=1
col=0

[/home/birkhoff]
row=0
col=0

