[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/Analyse]
row=2
col=21

[/home/birkhoff/Bureau/La Ligne verte.mp4]
row=4
col=21

[/home/birkhoff/Bureau/dots-master.zip]
row=1
col=21

[/home/birkhoff/Bureau/La Souris.avi]
row=3
col=21

[206AAB4A6AAB1C12]
row=1
col=0

[77AE8E313CA38B93]
row=2
col=0

[/home/birkhoff]
row=0
col=0

