[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/Apprendre_le_ML_en_une_semaine.pdf]
row=5
col=21

[/home/birkhoff/Bureau/pomotroid-0.13.0-linux.AppImage]
row=3
col=21

[/home/birkhoff/Bureau/Capture d’écran_2021-03-23_14-36-24.png]
row=6
col=21

[/home/birkhoff/Bureau/eDEX-UI-Linux-x86_64.AppImage]
row=4
col=21

[6C90E46090E431EE]
row=1
col=21

[Corbeille]
row=0
col=21

[/home/birkhoff]
row=2
col=21

