[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thos/Bureau/rajaonahHeryNO_ECO_M1_10.pdf]
row=0
col=5

[/home/thos/Bureau/Clip]
row=0
col=9

[/home/thos/Bureau/andrianasoloDomoina_GES_M1_12.pdf]
row=0
col=6

[/home/thos/Bureau/DGI]
row=0
col=4

[/home/thos/Bureau/L'IMPACT ECONOMIQUE DU CHANGEMENT DU CALCUL D'IRSA.docx]
row=0
col=7

[Volume de 326 Mo]
row=0
col=3

[43BD21B81740DDBF]
row=0
col=8

[E04ACDDD4ACDB098]
row=0
col=2

[Corbeille]
row=0
col=0

[/home/thos]
row=0
col=1

