[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/badboy2.avi]
row=11
col=3

[/home/birkhoff/Bureau/Analyse]
row=3
col=0

[/home/birkhoff/Bureau/Nos étoiles contraires.mp4]
row=11
col=1

[/home/birkhoff/Bureau/La Ligne verte.mp4]
row=11
col=2

[206AAB4A6AAB1C12]
row=2
col=0

[/home/birkhoff]
row=1
col=0

