body {
    padding: 0 2%;
    margin: 0;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
}
nav .profile {
    display: flex;
    align-items: center;
}
nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav .profile h1 {
    margin-left: 10px;
    font-size: 15px;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}
nav ul li:hover{
    border-bottom-color: #000;
}

.page-content {
    margin: 4%;
}
.page-content header {
    margin-top: 5%;
    max-width: 80%;
}
.page-content header h1 {
    margin: 0;
    text-transform: uppercase;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 5vw;
}
.page-content header p {
    line-height: 30px;
    color: #818181;
}
.page-content header button {
    background-color: inherit;
    border: none;
    outline: none;
    padding-left: 0;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.page-content header button:hover {
    color: #ccc;
    border-bottom-color: #000;
}

.page-content .presentation-image {
    margin-top: 5%;
}
.page-content .presentation-image img {
    max-width: 100%;
    height: auto;
}

.page-content .projects-section {
    margin-top: 6%;
}
.page-content .projects-section h1 {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    text-transform: uppercase;
    font-size: 3vw;
}
.page-content .projects-section .projects {
    display: flex;
    flex-wrap: wrap;
    
}
.page-content .projects-section .project {
    margin-right: 20px ;
    max-width: 195px;
}
.page-content .projects-section .projetcs .project h4 {
    margin: 0;
}
.page-content .projects-section .projetcs .project .description {
    font-size: 10px;
}
.page-content .projects-section .projetcs .project .dates {
    font-size: 13px;
    color: rgb(145, 145, 145);
}

footer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    padding: 10px;
}
footer .colonne p {
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }
    nav ul {
        display: none;
    }

    .page-content header {
        margin-top: 10%;
        max-width: 100%;
    }

    .page-content .projects-section {
        margin-top: 15%;
    }
    .page-content .projects-section h1 {
        font-size: 1.5em;
    }
    .page-content .projects-section .projects .project {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }
}
