{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="container">
            <section class="mb-4">
                <div class="row wow fadeIn">
                    <div class="col-6 offset-3">
                        <h1>Connexion</h1>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <p>
                                <label for="username">Nom d'utilisateur</label>
                                <input type="text" name="username" id="username">
                            </p>
                            <p>
                                <label for="password">Nom d'utilisateur</label>
                                <input type="password" name="password" id="password">
                            </p>
                            <button class="btn btn-primary" type="submit">Connexion</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}