/* Import fonts from fonts.css file */
@import url(./fonts.css);

/* CSS variable */
@import url(./partials/_variables.css);


/* Start Navigation */

.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font-family: var(--roboto)
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}

/* End Navigation */