{% extends 'base.html' %}

{% block content %}

    <h1>S'inscrire</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username">
        </p>
        <button type="submit">S'inscrire</button>
    </form>

{% endblock %}